<div id="wrapper">
<div class="container">
           
            <div class="wrapper">
                <div id="ei-slider" class="ei-slider">
                    <ul class="ei-slider-large">
						<li>
                            <img src="images/large/6.jpg" alt="image06"/>
                            <div class="ei-title">
                                <h2>Save while you shop !
Introducing anew way
of shoping and saving,</h2>
                                <h3>Say hello to E-Coupons.</h3>
                            </div>
                        </li>
                        <li>
                            <img src="images/large/1.jpg" alt="image01" />
                            <div class="ei-title">
                                <h2>Save while you shop !
Introducing anew way
of shoping and saving,</h2>
                                <h3>Say hello to E-Coupons.</h3>
                            </div>
                        </li>
                        <li>
                            <img src="images/large/2.jpg" alt="image02" />
                            <div class="ei-title">
                                <h2>Save while you shop !
Introducing anew way
of shoping and saving,</h2>
                                <h3>Say hello to E-Coupons.</h3>
                            </div>
                        </li>
                        <li>
                            <img src="images/large/3.jpg" alt="image03"/>
                            <div class="ei-title">
                                <h2>Save while you shop !
Introducing anew way
of shoping and saving,</h2>
                                <h3>Say hello to E-Coupons.</h3>
                            </div>
                        </li>
                        <li>
                            <img src="images/large/4.jpg" alt="image04"/>
                            <div class="ei-title">
                                <h2>Save while you shop !
Introducing anew way
of shoping and saving,</h2>
                                <h3>Say hello to E-Coupons.</h3>
                            </div>
                        </li>
                        <li>
                            <img src="images/large/5.jpg" alt="image05"/>
                            <div class="ei-title">
                                <h2>Save while you shop !
Introducing anew way
of shoping and saving,</h2>
                                <h3>Say hello to E-Coupons.</h3>
                            </div>
                        </li>
                        <li>
                            <img src="images/large/7.jpg" alt="image07"/>
                            <div class="ei-title">
                                <h2>Save while you shop !
Introducing anew way
of shoping and saving,</h2>
                                <h3>Say hello to E-Coupons.</h3>
                            </div>
                        </li>
                    </ul><!-- ei-slider-large -->
                    <ul class="ei-slider-thumbs">
                        <li class="ei-slider-element">Current</li>
						<li><a href="#">Slide 6</a><img src="images/thumbs/6.jpg" /></li>
                        <li><a href="#">Slide 1</a><img src="images/thumbs/1.jpg"  /></li>
                        <li><a href="#">Slide 2</a><img src="images/thumbs/2.jpg"  /></li>
                        <li><a href="#">Slide 3</a><img src="images/thumbs/3.jpg"  /></li>
                        <li><a href="#">Slide 4</a><img src="images/thumbs/4.jpg"  /></li>
                        <li><a href="#">Slide 5</a><img src="images/thumbs/5.jpg"  /></li>
                        <li><a href="#">Slide 7</a><img src="images/thumbs/7.jpg"  /></li>
                    </ul><!-- ei-slider-thumbs -->
                </div><!-- ei-slider -->
                <div class="content">
               <div class="shoppers fl">
               <big> <img src="images/shopper.png" width="105" height="81" /> SHOPPERS</big>
               <section>
               <h2>Save money with your phone !</h2>
               <h2 style="color:#666; font-size:25px;">Find great deals near you</h2>
               <ul>
               <li>Location Based Service</li>
               <li>E-Coupans</li>
               <li>No Printing</li>
               <li>Save money while shoping at your favourite stores</li>
               <li>Collect points while you shop for free gifts and services </li>
               </ul>
               <a href="#">Download for free</a>
               </section>
               </div><!--shoppers-->
               <div class="campaign fl">
               <big> Its Simple! Its Effective!</big>
                <section>
                <ul>
                <li><span>Shoppers :-</span></li>
               <li>Signup is free.</li>
               <li>Select the distance.</li>
               <li>Watch the deals come in.</li>
               </ul>
               <ul>
               <li><span>Merchants :-</span></li>
               <li>Signup is free</li>
               <li>Post your deals</li>
               <li>Watch your customers come in.</li>
               </ul>
               <a href="#">Ready for campaign</a>
               </section>
               </div><!--campaign-->
               <div class="clear"></div>
               </div><!--content-->
               <div class="content1">
               <div class="merchants fl">
               <big> <img src="images/merchant.png" width="34" height="38" /> MERCHANTS</big>
               <section>
               <h2>Signup for free !</h2>
               <ul>
               <li>Broadcast ypur deals</li>
               <li>Increase sales</li>
               <li>Get sale analytics</li>
               <li>Increase foot traffics</li>
               <li>Fast and easy</li>
               <span>Get started today .What are you waiting for ?</span>
               </ul>
               <a href="#">Download for free</a>
               </section>
               </div><!--merchants close-->
               <div class="app fl">
               <big>Download free app on.</big>
               <section>
               <a href="#" class="apple"></a>
               <a href="#" class="on-site"></a>
               <h5>Featured By :-</h5>
               <img src="images/pvr.png" width="153" height="115" />
               </section>
               </div><!--app close-->
               </div><!--content 1 close-->
               <div class="clear"></div>
               <div class="news">
               <div class="signup fl">
               <h5>Why sign up ?</h5>
               <ul>
               <li>A shopper signup to get on great products in your area.
</li>
               <li>Merchants signp to connect with your shopper in your area
and increase foot traffic by broadcasting your deals.
</li>
               <li>Sales analysts and inventory management will show the
results ! Get started today.</li>
               </ul>
               </div><!--signup close-->
               <div class="shadow fl"><img src="images/shadow.png" width="10" height="241" /></div>
               <div class="whats-new fl">
               <h4>WHAT'S NEW</h4>
               <span>25 FEB<p>5000 POINTS</p></span>
               <small>Claim your points with the featured gift :-
             Lexer 8GB Flash drive</small>
             <b><img src="images/pd.png" width="39" height="65" /></b>
             <a href="#">View More</a>
               </div><!--whats new close-->
               <div class="clear"></div>
               </div><!--news close-->
               
            </div><!-- wrapper -->
            <div class="clear"></div>
            
        </div>
        <script type="text/javascript" src="javascripts/jquery.js"></script>
        <script type="text/javascript" src="javascripts/jquery.eislideshow.js"></script>
        <script type="text/javascript" src="javascripts/jquery.easing.1.3.js"></script>
        <script type="text/javascript">
            $(function() {
                $('#ei-slider').eislideshow({
					animation			: 'center',
					autoplay			: true,
					slideshow_interval	: 3000,
					titlesFactor		: 0
                });
            });
        </script>
</div><!--Id wrapper closing-->

</body>
</html>
