<div id="wrapper">

               <div id="fourth">

<div class="fourth">
<h5>Contact Us</h5>
<span>Contact Information</span>
<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque la udantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas.        </p>
<div class="primary-c fl">
<blockquote>
<span>Karan Checker</span>
<p>Director / Founder</p>
<p>[INDIA] +91-97-8171-6363</p>
<p>[US] +1-661-727-3766 (<small>leave us a message and we'll call you back</small>)</p>
<p><a href="mailto:kchecker@snapower.net">kchecker@snapower.net</a></p>
</blockquote>
<blockquote>
<span>Office Address</span>
<p>Email : <a href="mailto:contact@antloc.com">contact@antloc.com</a></p>
<p>Website : <a href="http://www.snapower.net/tech/">www.snapower.net/tech</a></p>
</blockquote>

<blockquote>
<span>INDIA Office</span>
<p>SCO 197, Sector 7C, Chandigarh, India</p>
</blockquote>
<blockquote>
<span>US Office - Illinois</span>
<p>222 Atwell St, Elgin, IL, USA 60124</p>
</blockquote>
<blockquote style=" background:none">
<span>US Office - California</span>
<p>1401 Red Hawk Cir, Apt. P110, Mission San Jose, CA 94538-4725</p>
</blockquote>
</div><!--primary-c-->
<div class="shadow fl">
<img src="images/shadow (2).png" />
</div><!--shadow close-->
<div class="secondary-c fr">
<form>
<span>Contact Form</span>
<label>Name</label>
<input type="text" />
<label>Phone</label>
<input type="text" />
<label>Email</label>
<input type="text" />
<label>Contact</label>
<input type="text" />
<a href="#" style="margin:20px 33px 0 0;">Submit</a>
<a href="#">Cancel</a>
</form>
</div><!--secondary close-->
<div class="clear"></div>
</div>