<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>E-Coupons</title>
<link href="stylesheets/style.css" media="screen" rel="stylesheet" />
<link rel="shortcut icon" href="../favicon.ico"> 
        <link rel="stylesheet" type="text/css" href="stylesheets/demo.css" />
        <link rel="stylesheet" type="text/css" href="stylesheets/style1.css" />
		<noscript>
			<link rel="stylesheet" type="text/css" href="stylesheets/noscript.css" />
		</noscript>
</head>

<body>
<div class="header">
<div class="wrapper1">
<div class="logo fl">
<a href="#"></a>
</div><!--logo closing-->
<div class="nav fl">
<ul>
<li><a href="/home">Home</a>|</li>
<li><a href="/about">About</a>|</li>
<li><a href="#">Shopper</a>|</li>
<li><a href="#">Merchant</a>|</li>
<li><a href="/contactus">Contact Us</a>|</li>
<li><a href="/signup">Sign Up</a>|</li>
<li><a href="/login">Login</a></li>

</ul>
</div><!--nav-->
</div>
<div class="clear"></div>
</div><!--header closing-->
<body>

<%= yield %>
<div class="footer fr">
            <div id="wrapper">
               <div class="one fl">
              <span>Search our website</span>
               <span><input type="text" value="Enter search term" /><a href="#">Go</a></span>
               <p><span><input type="radio" class="radio" />Search tiles only</span>
               <span><input type="radio" class="radio" />Search everywhere</span></p>
               </div>
               <div class="two fl">
               <ul>
               <li>Ray's Blog</li>
               <li>Resource Liabrary</li>
               <li>Cost Analysis</li>
               <li>Industry Terminology</li>
               </ul>
               </div>
               <div class="three fl">
               <ul>
               <li>Join Our Newsletter</li>
               <li><a href="#"><img src="images/fb.png" width="22" height="21" />Find Us on Facebook</a></li>
               <li><a href="#"><img src="images/twitter.png" width="22" height="21" />Follow Us on Twitter</a></li>
               
               </ul>
               </div>
               <div class="four fl">
               <ul>
               <li>(774)412345 Call Us</li>
               <li>Contact Us</li>
              
               </ul>
               </div>
               </div><!--footer close--></div>
</body>
</html>
